.center {
	text-align: center;
}

/* Tooltip */
#powerTip {
	position: absolute;
	background: white;
    border: 1px solid hsla(217, 57%, 74%, 0.3);
	padding: 1em 2em;
}

body {
    font-family: Waree, Arial, sans;
    max-width: 1400px;
    margin: auto;
}

a {
    color: #527BBD;
    text-decoration: none;
}

#top {
    margin-bottom: 1em;
}

#titlearea {
    font-family: Garuda, Arial, sans;
    color: #527BBD;
    border-bottom: solid rgb(174, 174, 174) 3px;
    margin: .5em 0;
    padding: 0 .5em;
}

#projectname {
    font-size: 3em;
    margin: .5em;
}

#projectbrief {
    font-size: 1.3em;
}

#MSearchSelectWindow {
    position: absolute;
}

#navrow1, #navrow2, #nav-path {
    border-bottom: 1px solid rgb(174, 174, 174);
}

#navrow2, #nav-path {
    font-size: .8em;
}

#navrow1 > ul, #navrow2 > ul {
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#navrow1 > ul > li, #navrow2 > ul > li {
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
}

#navrow1 > ul > li a, #navrow2 > ul > li a {
    padding: 5px 1em;
    transition: border-color .6s;
    border-bottom: .15em solid transparent;
}

#navrow1 > ul > li a:hover, #navrow2 > ul > li a:hover {
    border-bottom: .15em solid #527BBD;
}

#navrow1 > ul > li.current a, #navrow2 > ul > li.current a {
    border-bottom: .15em solid #527BBD;
}

#navrow1 > ul > li.current a:hover, #navrow2 > ul > li.current a:hover {
    border-bottom: .15em solid hsla(197, 57%, 74%, 1);
}

#navrow1 > ul {
    position: relative;
}

#nav-path > ul {
    list-style-type: none;
    padding: 0 0 0 1em;
}

#nav-path > ul > li {
    display: inline-block;
    position: relative;
    padding: 0 1.4em;
}

#nav-path > ul > li:first-child {
    background: hsla(217, 57%, 80%, 1);
}

#nav-path > ul > li:not(.memSeparator):nth-child(2) {
    background: hsla(217, 57%, 90%, 1);;
}

#nav-path > ul > li:not(.memSeparator):nth-child(2):after {
    content: "";
    display: block;
    position: absolute;
    top: .25em;
    left: -.6em;
    height: 1.2em;
    width: 1.2em;
    transform: rotate(45deg);
    background: hsla(217, 57%, 80%, 1);
}

#nav-path > ul > li:not(.memSeparator):nth-child(3) {
    background: hsla(217, 57%, 95%, 1);;
}

#nav-path > ul > li:not(.memSeparator):nth-child(3):after {
    content: "";
    display: block;
    position: absolute;
    top: .25em;
    left: -.6em;
    height: 1.2em;
    width: 1.2em;
    transform: rotate(45deg);
    background: hsla(217, 57%, 90%, 1);
}

#nav-path > ul > li:not(.memSeparator):nth-child(4):after {
    content: "";
    display: block;
    position: absolute;
    top: .25em;
    left: -.6em;
    height: 1.2em;
    width: 1.2em;
    transform: rotate(45deg);
    background: hsla(217, 57%, 95%, 1);
}

.title, h2.groupheader {
    font-size: 1.5em;
    font-weight: normal;
    color: #527BBD;
    border-bottom: .1em solid #527BBD;
    padding-top: 1em;
}

.title {
    font-size: 2em;
    margin: .5em;
}

table {
    border-collapse: collapse;
    width: 96%;
}

table.params, table.directory {
    margin: 1.5em;
}

.memberdecls tr:not(.heading) {
    background: hsla(217, 57%, 74%, 0.2);
}

.memberdecls tr:not(.heading):not(.memSeparator) {
    background: hsla(217, 57%, 74%, 0.1);
}

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    padding: 4px 13px;
}

.mdescLeft, .memItemLeft {
    padding: 4px 13px 4px 25px;
    border-left: 4px solid hsla(217, 57%, 74%, 0.4);
}

tr.inherit_header td {
	padding: 9px 13px 9px 25px;
	border-left: 4px solid hsla(217, 57%, 74%, 0.4);
	border-bottom: 1px solid hsla(217, 57%, 74%, 0.4);
    background: hsla(217, 57%, 74%, 0.2);
}

.mdescRight, mItemRight {
    -moz-box-sizing: border-box;
    width: 88.64%;
}

.memSeparator {
    background: hsla(217, 57%, 74%, 0.4);
    border-left: 4px solid hsla(217, 57%, 74%, 0.4);
    line-height: 1px;
    margin: 0;
    padding: 0;
}

.memitem {
    padding: .5em .5em 0 .5em;
    margin-bottom: 1.5em;
    border: 1px solid hsla(217, 57%, 74%, 0.3);
}

.memproto {
    font-family: monospace, fixed;
    font-size: 1.1em;
    background-color: hsla(215, 57%, 74%, 0.3);
    padding: .2em .5em;
    border-left: 3px solid hsla(215, 57%, 74%, 0.5)
}

.mlabels {
    width: 100%;
}

.mlabels-right {
    font-size: .8em;
    text-align: center;
    border: 1px solid hsla(217, 57%, 74%, 0.3);
}

.memdoc {
    padding: 0 1em;
}

.paramtype {
    color: hsl(220, 50%, 50%);
}

.paramname {
    color: hsl(5, 50%, 50%);
}

table.params, table.directory {
    border-left: 3px solid hsla(217, 57%, 74%, 0.3);
}

table.params tr, table.directory tr {
    background: hsla(217, 57%, 74%, 0.2);
}

table.params tr:not(.memSeparator):nth-child(2n+1), table.directory tr:not(.memSeparator):nth-child(2n+1) {
    background: hsla(217, 57%, 74%, 0.05);
}

table.params td, table.directory td {
    border: 1px solid hsla(217, 57%, 74%, 0.3);
    padding: .2em .7em;
}

.fragment {
    background: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.2);
    border-left: 3px solid rgba(0,0,0,0.2);
    padding: 1em;
    margin-bottom: 1em;
}

.fragment .line {
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1;
}

.fragment .line .lineno {
    margin-right: 3em;
    color: rgba(0,0,0,0.4);
}

.fragment .line .keyword {
    color: hsl(25, 50%, 50%);
}

.fragment .line .keywordflow {
    color: hsl(150, 40%, 40%);
}

.fragment .line .stringliteral {
    color: hsl(275, 50%, 50%);
}

.fragment .line .comment {
    color: rgba(0,0,0,0.44);
}

/* Tooltip */
.ttc {
    position: absolute;
    display: none;
}

/* ---- List --- */

.levels {
    display: block;
    float: right;
    position: relative;
    top: -3.5em;
}

.levels span {
    color: #527BBD;
    margin: 0 .2em 0 .1em;
    cursor: pointer;
}

/* ---- Footer ---- */

.footer {
    text-align: right;
}

/* ---- Miscellaneous ---- */

hr {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid rgb(174, 174, 174);
}

/* ---- Search Box ---- */

#FSearchBox {
}

#MSearchBox {
    white-space : nowrap;
    position: relative;
    background-color: white;
}

#MSearchBox .left {
}

#MSearchSelect {
    display:block;
    position:absolute;
    width:20px;
    height:19px;
}

.left #MSearchSelect {
    left: 1.3em;
    top: .3em;
}

.right #MSearchSelect {
    right:5px;
}

#MSearchField {
    height: 2em;
    border:1px solid rgba(0,0,0,0.2);
    padding: 4px 12px;
    color: #909090;
    outline: none;
    font-size: 0.7em;
    border-radius: 2px;
}

#FSearchBox #MSearchField {
    margin-left:15px;
}

#MSearchBox .right {
    width:20px;
    height:19px;
    background-position:left;
}

#MSearchClose {
    display: none;
    position: absolute;
    top: 4px;
    background : none;
    border: none;
    margin: 0px 4px 0px 0px;
    padding: 0px 0px;
    outline: none;
}

#navrow1 > ul > li a#MSearchClose {
    border: none;
}

#navrow1 > ul > li a#MSearchClose:hover {
    border: none;
}

.MSearchBoxActive #MSearchField {
    color: #000000;
}

/*---------------- Search filter selection */

#MSearchSelectWindow {
    display: none;
    position: absolute;
    left: 0; top: 0;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: hsla(217, 57%, 95%, 1);
    z-index: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.SelectItem {
    font: 8pt Arial, Verdana, sans-serif;
    padding-left:  2px;
    padding-right: 12px;
    border: 0px;
}

span.SelectionMark {
    margin-right: 4px;
    font-family: monospace;
    outline-style: none;
    text-decoration: none;
}

a.SelectItem {
    display: block;
    outline-style: none;
    color: #000000; 
    text-decoration: none;
    padding-left:   6px;
    padding-right: 12px;
}

a.SelectItem:focus,
a.SelectItem:active {
    color: #000000; 
    outline-style: none;
    text-decoration: none;
}

a.SelectItem:hover {
    color: #FFFFFF;
    background-color: hsla(217, 57%, 60%, 1);
    outline-style: none;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

/*---------------- Search results window */

iframe#MSearchResults {
    width: 60ex;
    height: 15em;
}

#MSearchResultsWindow {
    display: none;
    position: absolute;
    left: 0; top: 0;
    border: 1px solid #000;
    background-color: #EEF1F7;
}

/* ----------------------------------- */


#SRIndex {
    clear:both; 
    padding-bottom: 15px;
}

.SREntry {
    font-size: 10pt;
    padding-left: 1ex;
}

.SRPage .SREntry {
    font-size: 8pt;
    padding: 1px 5px;
}

body.SRPage {
    margin: 5px 2px;
}

.SRChildren {
    padding-left: 3ex; padding-bottom: .5em 
}

.SRPage .SRChildren {
    display: none;
}

.SRSymbol {
    font-weight: bold; 
    color: #425E97;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
}

a.SRScope {
    display: block;
    color: #425E97; 
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
}

a.SRSymbol:focus, a.SRSymbol:active,
a.SRScope:focus, a.SRScope:active {
    text-decoration: underline;
}

span.SRScope {
    padding-left: 4px;
}

.SRPage .SRStatus {
    padding: 2px 5px;
    font-size: 8pt;
    font-style: italic;
}

.SRResult {
    display: none;
}

DIV.searchresults {
    margin-left: 10px;
    margin-right: 10px;
}

/*---------------- External search page results */

.searchresult {
    background-color: #F0F3F8;
}

.pages b {
   color: white;
   padding: 5px 5px 3px 5px;
   background-image: url("../tab_a.png");
   background-repeat: repeat-x;
   text-shadow: 0 1px 1px #000000;
}

.pages {
    line-height: 17px;
    margin-left: 4px;
    text-decoration: none;
}

.hl {
    font-weight: bold;
}

#searchresults {
    margin-bottom: 20px;
}

.searchpages {
    margin-top: 10px;
}

